# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PagedLOD/PagedLOD/.vs/PagedLOD/v15
/PagedLOD/PagedLOD/x64/Debug
/PagedLOD/PagedLOD/x64/Release
/PagedLOD/Tests/EnumerateLegalTileNodeSet/x64/Debug
/PagedLOD/Tests/EnumerateLegalTileNodeSet/x64/Release
/PagedLOD/Tests/SystemTests/Demp-v5-0418/x64
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0424_MutiFrameForKnapsack.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0424_LoadCostInfo_PerFrame.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0424KnapsackSolveResult.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0424InfoSet.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0423_LoadCostInfo_PerFrame.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0423InfoSet.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0422_LoadCostInfo_PerFrame.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0422InfoSet.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0420_背包计算结果数据加载情况.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0420_LoadCostInfo_PerFrame.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0420InfoSet.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/0419_LoadCostInfo_PerFrame.csv
/PagedLOD/Tests/SystemTests/Demp-v5-0418/experiment
/PagedLOD/Tests/SystemTests/Demp-v5-0418/.vs/Demp-v5-0418/v15
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/Data
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/Record
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/x64
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/Anaysis.xlsx
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackResultSavePathRandom1.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackResultSavePathRandom.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackResultSavePath4.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackResultSavePath3.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackResultSavePath2.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackLoadInfoSavePathRandom1.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackLoadInfoSavePathRandom.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackLoadInfoSavePath4.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackLoadInfoSavePath3.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0426AllKnapsackLoadInfoSavePath2.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0425AllKnapsackResultSavePath1.csv
/PagedLOD/Tests/SystemTests/SceneVisitor/SceneVisitor/0425AllKnapsackLoadInfoSavePath1.csv
/PagedLOD/Tests/TileTreeProcessor/.vs/TileTreeProcessor/v15
/PagedLOD/PagedLOD/PagedLOD-v5/x64
/PagedLOD/Tools/OfflineProcessingSystem/x64
/PagedLOD/Tools/OpenGL_LIB/x64
/PagedLOD/Tests/SystemTests/OpenGLDemo/x64/Release
/PagedLOD/Tests/UnitTests/Sample-Test1/x64/Release
/PagedLOD/Tests/UnitTests/Sample-Test2/x64
